body{
    background:#E5FFD1;
    padding: 0;
    margin: 0;
}

header{
    background:#D4FFB2;
    height:100px;
    width: 100%;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.25);
    position:fixed;
    top:0px;
}

header img{
    height: 90px;
    margin-left: 2.5%;
    margin-top:5px;
}

header h1{
    width:600px;
    text-align: center;
    display: inline-block;
    position:relative;
    bottom:15px;

}

header ul{
    display: inline;
    margin-left: 20%;
    position: relative;
    bottom: 35px;
}

header li{
    font-size: 32px;
    font-weight: bold;
    text-decoration: none;
    display: inline;
    margin-left: 50px;
}

.base{
    background: #D4FFB2;
    width: 80%;
    margin-left:10%;
    height: 2168px;
    margin-top: 210px;
    margin-bottom: 120px;
    box-shadow: -4px 4px 12px rgba(0, 0, 0, 0.25);
}

.base h1{
  padding-top:25px;
  text-align: center;
  font-size: 36px;
}

.imagens-sobre img {
    border: 3px solid #96FF44;
    margin-top:5%;
}

.resumo p {
    width:40%;
    text-align: justify;
    font-size: 30px;
    line-height: 1.4;
    margin-top:5%;
}

.imagens-sobre{
    width:30%;
    display:flex;
    flex-direction:column;
}

.resumo{
    display:flex;
    justify-content:space-around;
    align-items:center;
}

.direcao{
    margin-left:14%;
}

.direcao li img {
    width: 130px;
    height: 130px;
    border-radius: 275.5px;
    border: 3px solid #96FF44;
}

.direcao li {
    display: inline-block;
    width: 280px; 
    text-align:center;
    margin-top:75px;
}

.direcao p{
    font-size:30px;
}

.torneio img {
    width: 500px;
    margin-left: 32%;
    border: 3px solid #96FF44;
}

.local p{
    font-size:30px;
    width:17%;
    text-align:center;
}

.local{
    display:flex;
    flex-direction:row;
    justify-content:space-around;
    align-items:center;
}

footer {
    background: #D4FFB2;
    height: 70px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.25);
    display:flex;
    justify-content:center;
}

footer p{
    text-align:center;
    font-size:28px;
}